.wrapperConfirmModal {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(2,2,2,0.3);
}

.confirmModal {
    min-width: 400px;
    background: white;
    border-radius: 10px;
    border: 2px solid rgb(209, 205, 205);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.askConfirmModal {
    font-size: 20px;
}

.buttonConfirmModal .MuiButton-root {
    margin: 10px 20px;
}
